/* Variables */
/* Grid */
/* Colors */
/* For naming colors use: // http://chir.ag/projects/name-that-color/ */
/* Font-sizes */
/* Margins */
* {
  margin: 0;
  padding: 0;
}

.gutter {
  margin: 0 auto !important;
}

.gutter__small {
  margin: 10px -20px !important;
}

.gutter__padding {
  padding: 0;
}

.control-panel {
  min-height: 15vh;
}

.control-panel table {
  margin: 0;
}

.control-panel a {
  color: #1a384a;
}

.control-panel .btn-block {
  border-radius: 0;
  margin-top: 0;
  padding: 14px 15px;
  text-align: left;
  font-size: 16px;
  border-color: #1a384a;
  color: #1a384a;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}

.control-panel .fa {
  padding-right: 10px;
}

.control-panel .col-md-5 {
  background-color: #1a384a;
}

.control-panel .col-xs-4 {
  border-right: 1px solid #1a384a;
  border-left: 1px solid #1a384a;
}

.control-panel .col-xs-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.control-panel li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 10px;
  line-height: 20px;
  border-bottom: 1px solid #1a384a;
  background-color: #F0F5FA;
  font-size: 14px;
}

.control-panel li:hover {
  background-color: #cadced;
}

.control-panel .menu-icon {
  display: block;
  font-size: 2em;
}

.control-panel .manage-bar {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 0;
}

.control-panel__head {
  background-color: #96ADAA;
  border-bottom: 1px solid #1a384a;
}

.control-panel__cell {
  padding: 0;
}

.sub-menu-item {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 7px 0 7px 60px;
  color: #1a384a;
}

.sub-menu-item.active .text {
  font-weight: 500;
}

.content {
  padding: 30px 40px 40px 40px;
  background-color: white;
  min-height: 100vh;
  max-width: 980px;
}

@media all and (min-width: 1025px) {
  .content {
    margin-left: 370px;
    padding: 0 40px 40px 80px;
  }
}

.content .content-header {
  font-size: 32px;
  font-weight: 100;
  color: #FF405E;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 50px;
}

.panel-default {
  border-color: #37647D;
}

.panel-default .panel-heading {
  color: #F0F5FA;
  background-color: #1a384a;
  border-color: #37647D;
  font-weight: 600;
}

.panel-default .panel-footer .button {
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 25px;
  min-width: 45%;
  margin-bottom: 1%;
}

.bw {
  font-weight: 400;
}

.bit-page {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #C3D2DC;
  width: 100vw;
  height: 70vh;
  overflow-y: scroll;
}

@media all and (min-width: 1025px) {
  .bit-page {
    padding-top: 120px;
  }
}

.bit-page .bit-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bit-page .bit-title h1 {
  display: inline-block;
  height: 48px;
}

.bit-page .bit-title p {
  margin-left: 10px;
  font-size: 24px;
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  line-height: 1;
  padding-bottom: 4px;
}

.bit-page .item-container {
  width: 80%;
  height: auto;
}

.bit-page .bit-item {
  padding: 20px 0;
  border-bottom: 1px solid #6991AA;
}

.bit-page .bit-item:last-of-type {
  border-bottom: none;
}

.bit-page .bit-item h2 {
  margin: 0;
  padding: 0;
}

.bit-page .bit-item .text {
  margin: 0;
  padding: 0;
}

.bit-page .bit-item .path {
  margin: -4px 0 2px 0;
  opacity: 0.7;
  padding: 0;
  font-size: 13px;
}

.bit-page .bit-item a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #FF405E;
}

.control-page .row {
  margin: 0 !important;
}
