@import "variables";
* {
  margin: 0;
  padding: 0;
}

.gutter {
  margin: 0 auto !important;
  &__small{
    margin: 10px (-($gutter-size/2)) !important;
  }
  &__padding {
    padding: 0;
  }
}
.control-panel {

  min-height: 15vh;

  table{
  margin:0;
  }
  a {
    color: $color-big-stone;
  }
  .btn-block {
    border-radius: 0;
    margin-top: 0;
    padding: 14px 15px;
    text-align: left;
    font-size: 16px;
    border-color: $color-big-stone;
    color: $color-big-stone;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    letter-spacing: 0.3px;
    text-transform: capitalize;
  }
  .fa {
   padding-right: 10px;
  }
  .col-md-5{
  background-color: $color-big-stone;

  }
  .col-xs-4{
    border-right: 1px solid $color-big-stone;
    border-left: 1px solid $color-big-stone;
  }
  .col-xs-8 {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    flex-flow: column wrap;
    -webkit-align-content: stretch;
    align-content: stretch;
  }
  li {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 10px;
    //padding-left: 10px;
    //padding-right: 10px;
    line-height: 20px;
    border-bottom: 1px solid $color-big-stone;
    background-color: $color-white-squeeze;
    font-size: 14px;

  &:hover {
    background-color: #cadced;
  }
  }

  .menu-icon {
    display: block;
    font-size: 2em;
  }

  .manage-bar {
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: column wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    margin: 0 0;


  }

  &__head {
    background-color: $color-cascade;
    border-bottom: 1px solid $color-big-stone;
  }
  &__cell {
    padding: 0;
  }
}




.sub-menu-item {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 7px 0 7px 60px;
  color: $color-big-stone;

  &.active {
    .text {
      font-weight: 500;
    }
  }
}

.content {
  padding: 30px 40px 40px 40px;
  background-color: white;
  min-height: 100vh;
  max-width: 980px;

  @media all and (min-width: 1025px) {
    //display: block;
    margin-left: 370px;
    padding: 0 40px 40px 80px;
  }

  .content-header {
    font-size: 32px;
    font-weight: 100;
    color: $color-radical-red;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 50px;
  }
}


  .panel-default {
    border-color: $color-ming;

    .panel-heading {
    color: $color-white-squeeze;
    background-color: $color-big-stone;
    border-color: $color-ming;
    font-weight: 600;
  }
    .panel-footer .button {
      display: block;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
  }

  figure {
    margin: 0;
  }


  .button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 25px;
    min-width:45%;
    margin-bottom: 1%;
  }

  .bw {
    font-weight: 400;

  }

.bit-page {
  align-items: center;
  flex-direction: column;
  background: $color-jungle-mist;
  width: 100vw;
  height: 70vh;
  overflow-y: scroll;


  @media all and (min-width: 1025px) {
    padding-top: 80px + 40px;
  }


  .bit-title {
    display: flex;

    h1 {
      display: inline-block;
      height: 48px;
    }

    p {
      margin-left: 10px;
      font-size: $font-size-medium;
      display: inline-block;
      align-self: flex-end;
      line-height: 1;
      padding-bottom: 4px;
    }
  }

  .item-container {
    width: 80%;
    height: auto;
  }

  .bit-item {
    padding: 20px 0;

    border-bottom: 1px solid $color-bermuda-gray;

    &:last-of-type {
      border-bottom: none;
    }

    h2 {
      margin: 0;
      padding: 0;
    }

    .text {
      margin: 0;
      padding: 0;
    }

    .path {
      margin: -4px 0 2px 0;
      opacity: 0.7;
      padding: 0;
      font-size: 13px;
    }

    a {
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: $color-radical-red;
    }

  }
}

.control-page .row {
margin:0!important;
}